<header>
  <h1>
    <%= @exception.class.to_s %>
  </h1>
</header>

<main role="main" id="container">
  <%= render "rescues/message_and_suggestions", exception: @exception %>

  <% if @exception.error['location'] %>
    <div class="source">
      <div class="data">
<pre>

    <%= @exception.error['location']['file'] %>:<%= @exception.error['location']['line'] %>:<%= @exception.error['location']['column'] %>

<%= @exception.error['location']['line'].to_s.rjust 5 %> │    <%= @exception.error['location']['line_text'] %>
      │    <%= (@exception.error['location']['length'] > 1 ? "~" * @exception.error['location']['length'] : "^").rjust(@exception.error['location']['column'] + @exception.error['location']['length']) %>
<%- if @exception.error['location']['suggestion'].present? -%>    + │    <%= @exception.error['location']['suggestion'].rjust(@exception.error['location']['column'] + 1) %>
<% else %> <%- end -%>
</pre>
      </div>
    </div>
  <% end %>

  <%= render template: "rescues/_request_and_response" %>
</main>
